
*.json
a.out
test.a
two_loops.a
assembler.obj
Assembler/banana.asm
Assembler/banana.mlg
Programs/BIST.mlg
Documentation/CPU - Copy.pptx
vs/
*.exe
*.obj
/Assembler v2/ByteFrostAssembler/ByteFrostAssembler/x64
*.pdb
*.log
# Files built by Visual Studio
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.tlog

/Assembler v2/.vs
*.db
Assembler v2/ByteFrostAssembler/ByteFrostAssembler/x64/Debug/ByteFros.ce0206dd.tlog/CL.write.1.tlog
*.tlog
